@import './abstracts';
@import './base';
@import './components';
@import './layout';
@import './utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: $mainFontColor;
  font-family: 'Noto Sans TC', sans-serif;
}
.main {
  &.bg-gray-base {
    background-color: #f4f4f4;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1110px;
  }
}
