.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s linear;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.list-leave-active, .list-leave-active > * {
  position: absolute;
  visibility: hidden;
}
