.swiper {
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-color: transparent;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-pagination-bullet {
  border: 1px solid transparent;
}
.swiper-pagination-bullet .inner-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: relative;
  left: 2px;
  top: 2px;
}
.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

.swiper-pagination-bullet .inner-primary-dot {
  background-color: $mainGreen;
}
.active-primary-bullet {
  border: 1px solid $mainGreen;
}
.swiper-pagination-bullet .inner-white-dot {
  background-color: #fff;
}
.active-white-bullet {
  border: 1px solid white;
}
