.footer {
  .link-content {
    .links {
      .link {
        width: calc(100% / 3);
        &:not(:last-of-type) {
          &:after {
            content: '';
            width: 1px;
            height: 50%;
            position: absolute;
            top: 24%;
            left: 93%;
            background-color: #fff;
            @media (min-width: 1024px) {
              left: 77%;
            }
          }
        }
      }
    }
  }
}
